<footer class="footer bg-dark py-3 mt-auto">
    <!-- padding on Y axis, margin-top = auto | NU merge cu justify-content sau align-self -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span> <!-- schimba culoarea textului -->
    </div>
</footer>